<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.ives.dev.lotonga.e.tp1_android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Accelerometre"
            android:label="Change Background color with Accelerometer"
            android:theme="@style/AppTheme"/>

        <activity android:name=".AllumeFlash"
            android:label="switchoff/on the flash"
            android:theme="@style/AppTheme"/>
        <activity android:name=".CapteurProximite"
            android:label="Change Image"
            android:theme="@style/AppTheme"/>
        <activity android:name=".CapteursAbsents"
            android:label="Sensors not supported"
            android:theme="@style/AppTheme"/>
        <activity android:name="fr.ives.dev.lotonga.e.tp1_android.Direction"
            android:label="The Direction of the device"
            android:theme="@style/AppTheme"/>

        <activity android:name=".ListeCapteurs"
            android:label="All sensors supported"
            android:theme="@style/AppTheme"/>
    </application>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.hardware.camera"/>
</manifest>